/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Título */
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Estilos para las secciones */
.section {
    margin-bottom: 5px;
}

/* Combo de Selección de Archivo CSV y Modelo */
.file-selector {
    margin-bottom: 15px;
    display: flex;  /* Alinea los elementos en una fila */
    align-items: center;  /* Alineación vertical centrada */
}

.file-selector label {
    font-weight: bold;
    margin-right: 10px; 
}

select {
    width: 200px;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
}


/* Botón para abrir CSV */
button {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #2980b9;
    background-color: #2980b9;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #3498db;
}

/* Estilo para el botón desactivado */
button:disabled {
    background-color: #b0c4de; /* Color de fondo gris claro */
    color: #a9a9a9; /* Color de texto gris */
    border: 1px solid #dcdcdc; /* Borde gris claro */
    cursor: not-allowed; /* Cambiar el cursor para indicar que está desactivado */
}

/* Visualización de la Cuadrícula CSV */
.csv-grid {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.csv-grid table {
    width: 100%;
    border: 1px solid #ddd;
}

.csv-grid th, .csv-grid td {
    padding: 4px;  /* Reduce el padding */
    text-align: center;
    border: 1px solid #ddd;
    font-size: 12px;  /* Reduce el tamaño de la fuente */
}

.csv-grid th {
    background-color: #2c3e50;
    color: white;
}


/* Divisiones para la segunda parte (Predicción y Gráfico) */
.prediction-column, .chart-column {
    width: 48%;
    float: left;
}

.input-section {
    margin-bottom: 5px;
    width: 100%;
}

.input-section input {
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.input-section select {
    padding: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 5px;
}


.output-section {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    font-size: 1rem;
    resize: none;
}

/* Clearfix for float columns */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Chart Style */
#chart_div {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
